.tabulator-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2308rem;
}

.tabulator-tools .btn {
    margin-inline: 0.5rem;
}


.tabulator-tools-start {
    display: flex;
    justify-content: flex-start;
}

.tabulator-tools-end {
    display: flex;
    justify-content: flex-end;
}

.tabulator-grid-manipulation {
    padding-top: 1rem;
}

select.tabulator-bulk-select {
    width: auto !important;
    margin-inline-start: 0.5rem;
}

.cms .tabulatorgrid {
    margin-left: -1.5385rem;
    margin-right: -1.5385rem;
}

.admini .tabulatorgrid {
    margin-left: -1rem;
    margin-right: -1rem;
}
